@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #2e3099;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}

body {
  padding: 2rem 3rem 0 3rem;
  background-color: #b3ddff;
}

/**
 * ############
 * ## Header ##
 * ############
 */

body header {
  display: flex;
  align-items: center;
}

body header img {
  height: 50px;
}

body header h1 {
  margin: 0 auto;
  background-image: linear-gradient(
    225deg,
    #ff3cac 0%,
    #784ba0 50%,
    #2b86c5 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

/**
 * ################
 * ## Formulario ##
 * ################
 */

main form {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
}

main form input {
  border: 2px solid #2e3099;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 0.5rem;
  font-size: 1rem;
  width: 100%;
}

main form button {
  font-size: 1rem;
  background-image: linear-gradient(
    225deg,
    #ff3cac 0%,
    #784ba0 50%,
    #2b86c5 100%
  );
  padding: 0 1rem;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  cursor: pointer;
}

main form button i {
  color: white;
}

/**
 * #############
 * ## Spinner ##
 * #############
 */

body main div.spinner {
  margin: 3rem auto;
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border-left-color: #2e3099;
  animation: spin 1s ease infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

body main div#spinner {
  display: none;
}

/**
 * ############
 * ## Listas ##
 * ############
 */

section.localizacion ul,
section.busqueda ul {
  display: none;
  border: 1px solid #2e3099;
  border-radius: 25px;
  margin: 2.5rem 0;
  background-color: #ffe1b3;
  box-shadow: rgba(46, 48, 153, 0.4) 5px 5px 5px;
}

section.localizacion ul:first-child li {
  list-style: none;
  padding: 1rem;
  text-align: center;
  font-size: 1.2rem;
}

section.localizacion ul:first-child li:last-child {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 2rem;
}

section.localizacion ul:last-child li,
section.busqueda ul li {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
  font-size: 1.2rem;
}

section.localizacion ul:last-child li h2,
section.busqueda ul li h2 {
  padding: 1rem;
  text-align: center;
  background-image: linear-gradient(
    225deg,
    #ff3cac 0%,
    #784ba0 50%,
    #2b86c5 100%
  );

  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

section.localizacion ul:last-child li span,
section.busqueda ul li span {
  display: flex;
  align-items: center;
}

section.busqueda ul {
  display: block;
  visibility: hidden;
}

p {
  color: red;
  padding: 1rem;
  font-size: 2rem;
  text-align: center;
}

/**
 * ############
 * ## Footer ##
 * ############
 */

footer {
  text-align: center;
  padding: 1rem;
}

footer a {
  text-decoration: none;
}

@media (min-width: 768px) {
  /**
 * ############
 * ## Header ##
 * ############
 */

  body header {
    justify-content: space-around;
  }

  body header img {
    height: 100px;
    margin-left: auto;
  }

  body header h1 {
    font-size: 3rem;
    margin-right: auto;
  }

  /**
 * ################
 * ## Formulario ##
 * ################
 */

  main form {
    max-width: 70%;
    margin: 0 auto;
  }

  main form input {
    padding: 1rem;
    font-size: 1.5rem;
  }

  main form button {
    padding: 0 2rem;
    font-size: 1.5rem;
  }

  /**
 * ############
 * ## Listas ##
 * ############
 */

  section.localizacion ul,
  section.busqueda ul {
    display: none;
    max-width: 70%;
    margin: 3rem auto;
  }

  section.localizacion ul:first-child li,
  section.localizacion ul:last-child li,
  section.busqueda ul li {
    font-size: 1.5rem;
  }

  section.localizacion ul:first-child li:last-child {
    font-size: 2.7rem;
  }

  section.busqueda ul {
    display: block;
    visibility: hidden;
  }

  /**
 * ############
 * ## Footer ##
 * ############
 */

  footer {
    padding: 2rem 0;
    font-size: 2rem;
  }

  footer a {
    text-decoration: none;
  }
}

@media (min-width: 900px) {
  body {
    max-width: 850px;
    margin: 0 auto;
  }
}
